:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #f2f2fb;

  --default-background: #00b4d8;
  --default-background-color: white;
  --default-color: black;
}
